In [ ]:
import pandas as pd
import numpy as np

Базовые операции с DataFrame:
1.1 В файлах recipes_short.csv и reviews_short.csv находится информация об рецептах блюд и отзывах на эти рецепты соответственно. Загрузите данные из файлов в виде pd.DataFrame с названиями recipes и reviews. Обратите внимание на корректное считывание столбца(ов) с индексами.

In [ ]:
recipes = pd.read_csv('recipes_sample.csv', parse_dates=[4])
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

In [ ]:
reviews = pd.read_csv('reviews_sample.csv', parse_dates=[3], index_col=0)
reviews

,user_id,recipe_id,date,rating,review
370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...
1013457,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
158736,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
1059834,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
453285,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
691207,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

1.2 Для каждой из таблиц выведите основные параметры: * количество точек данных (строк); * количество столбцов; * тип данных каждого столбца.

In [ ]:
reviews.shape

(126696, 5)

In [ ]:
reviews.dtypes

user_id               int64
recipe_id             int64
date         datetime64[ns]
rating                int64
review               object
dtype: object

In [ ]:
recipes.shape

(30000, 8)

In [ ]:
recipes.dtypes

name                      object
id                         int64
minutes                    int64
contributor_id             int64
submitted         datetime64[ns]
n_steps                  float64
description               object
n_ingredients            float64
dtype: object

1.3 Исследуйте, в каких столбцах таблиц содержатся пропуски. Посчитайте долю строк, содержащих пропуски, в отношении к общему количеству строк.

In [ ]:
recipes.isnull().sum()

name                  0
id                    0
minutes               0
contributor_id        0
submitted             0
n_steps           11190
description         623
n_ingredients      8880
dtype: int64

In [ ]:
same = recipes.isnull().sum(axis=1)
same[same != 0].shape[0] / recipes.shape[0]

0.5684666666666667

In [ ]:
reviews.isnull().sum(),

(user_id       0
 recipe_id     0
 date          0
 rating        0
 review       17
 dtype: int64,)

In [ ]:
same = reviews.isnull().sum(axis=1)
same[same != 0].shape[0] / reviews.shape[0]

0.00013417945317926376

1.4 Рассчитайте среднее значение для каждого из числовых столбцов (где это имеет смысл).

In [ ]:
recipes[['minutes', 'n_steps', 'n_ingredients']].mean()

minutes          123.358133
n_steps            9.805582
n_ingredients      9.008286
dtype: float64

In [ ]:
reviews['rating'].mean()

4.410802235271832

1.5 Создайте серию из 10 случайных названий рецептов.

In [ ]:
recipes['name'][np.random.randint(recipes['name'].shape[0], size=10)]

5901                       chicken piccata pasta
21713                pumpkin maple swirl muffins
18325    mushroom tortellini spinach tomato soup
69                     three cheese  cheese ball
13615          herb marinade for grilled chicken
4829                          carrot ginger soup
20543                           perfect brownies
8391                       creamy tuna casserole
17583                  microwave caramel popcorn
7692                      cottage cheese pudding
Name: name, dtype: object

1.6 Измените индекс в таблице reviews, пронумеровав строки, начиная с нуля.

In [ ]:
reviews = reviews.reset_index(drop=True)
reviews

,user_id,recipe_id,date,rating,review
0,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
1,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
2,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
3,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
4,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...
126691,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
126692,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
126693,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
126694,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
126695,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

1.7 Выведите информацию о рецептах, время выполнения которых не больше 20 минут и кол-во ингредиентов в которых не больше 5.

In [ ]:
recipes[(recipes['minutes'] < 20) & (recipes['n_ingredients'] < 5)]

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
90,hawaiian sunrise mimosa,100837,5,58104,2004-09-29,4.0,pineapple mimosa was changed to hawaiian sunri...,3.0
91,tasty dish s banana pudding in 2 minutes,286484,2,47892,2008-02-13,NaN,"""mmmm, i love bananas!"" a --tasty dish-- origi...",4.0
94,1 minute meatballs,11361,13,4470,2001-09-03,NaN,this is a real short cut for cooks in a hurry....,2.0
143,2 minute broccoli,256464,4,165433,2007-10-01,7.0,"so easy. tender crisp. hot, steamed broccoli...",2.0
168,3 ingredient moroccan dry rub,505748,3,65502,2013-08-12,NaN,who says that recipes have to be complicated t...,3.0
...,...,...,...,...,...,...,...,...
29817,zen wine spritzer,498523,1,2585084,2013-04-06,3.0,this is a light and refreshing beverage that i...,4.0
29858,zesty stuffed olives,269904,10,226066,2007-12-05,NaN,from kraft. too cute not to try!!,4.0
29866,zhanyshpa from kazakhstan,160599,15,279179,2006-03-20,NaN,this is another typical kazakh dessert.,4.0
29874,ziplock vanilla ice cream,74250,10,24386,2003-10-29,8.0,a fun thing for kids to do. may want to use mi...,3.0
29980,zucchini with jalapeno monterey jack,320622,10,305531,2008-08-20,3.0,simple and yummy!,3.0

Работа с датами в pandas:
2.1 Преобразуйте столбец submitted из таблицы recipes в формат времени. Модифицируйте решение задачи 1.1 так, чтобы считать столбец сразу в нужном формате.

In [ ]:
recipes['submitted'] = recipes['submitted'].astype("datetime64[ns]")
reviews['date'] = reviews['date'].astype("datetime64[ns]")

2.2 Выведите информацию о рецептах, добавленных в датасет не позже 2010 года.

In [ ]:
recipes[(recipes['submitted'].dt.to_period("Y") <= pd.PeriodIndex([2010], dtype='period[A-DEC]')[0])]

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29993,zuni caf zucchini pickles,316950,2895,62264,2008-07-31,NaN,refrigerator pickles for some of the zucchini ...,8.0
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

Работа со строковыми данными в pandas
3.1 Добавьте в таблицу recipes столбец description_length, в котором хранится длина описания рецепта из столбца description.

In [ ]:
recipes['description_length'] = recipes['description'].str.len()
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154.0
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587.0
...,...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311.0
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125.0


3.2 Измените название каждого рецепта в таблице recipes таким образом, чтобы каждое слово в названии начиналось с прописной буквы.

In [ ]:
recipes['name'] = recipes['name'].str.title()
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length
0,George S At The Cove Black Bean Soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0
1,Healthy For Them Yogurt Popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0
2,I Can T Believe It S Spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39.0
3,Italian Gut Busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154.0
4,Love Is In The Air Beef Fondue Sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587.0
...,...,...,...,...,...,...,...,...,...
29995,Zurie S Holey Rustic Olive And Cheddar Bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484.0
29996,Zwetschgenkuchen Bavarian Plum Cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286.0
29997,Zwiebelkuchen Southwest German Onion Cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311.0
29998,Zydeco Soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0
29999,Cookies By Design Cookies On A Stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125.0

3.3 Добавьте в таблицу recipes столбец name_word_count, в котором хранится количество слов из названии рецепты (считайте, что слова в названии разделяются только пробелами).

In [ ]:
recipes['name_word_count'] = recipes['name'].str.split().str.len()
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length,name_word_count
0,George S At The Cove Black Bean Soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0,8
1,Healthy For Them Yogurt Popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0,5
2,I Can T Believe It S Spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39.0,7
3,Italian Gut Busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154.0,3
4,Love Is In The Air Beef Fondue Sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587.0,8
...,...,...,...,...,...,...,...,...,...,...
29995,Zurie S Holey Rustic Olive And Cheddar Bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484.0,8
29996,Zwetschgenkuchen Bavarian Plum Cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286.0,4
29997,Zwiebelkuchen Southwest German Onion Cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311.0,5
29998,Zydeco Soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0,2
29999,Cookies By Design Cookies On A Stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125.0,7

4.1 Посчитайте количество рецептов, представленных каждым из участников (contributor_id). Какой участник добавил максимальное кол-во рецептов?

In [ ]:
recipes.groupby('contributor_id').count()['id']

contributor_id
1530            5
1533          186
1534           50
1535           40
1538            8
             ...
2001968497      2
2002059754      1
2002234079      1
2002234259      1
2002247884      1
Name: id, Length: 8404, dtype: int64

In [ ]:
recipes.groupby('contributor_id').count()['id'].idxmax()

89831

4.2 Посчитайте средний рейтинг к каждому из рецептов. Для скольких рецептов отсутсвуют отзывы?

In [ ]:
rating_mean = reviews.groupby('recipe_id').mean()['rating']
rating_mean

recipe_id
48        1.000000
55        4.750000
66        4.944444
91        4.750000
94        5.000000
            ...
536547    5.000000
536610    0.000000
536728    4.000000
536729    4.750000
536747    0.000000
Name: rating, Length: 28100, dtype: float64

In [ ]:
len(recipes['id']) - len(rating_mean)

1900

4.3 Посчитайте количество рецептов с разбивкой по годам создания.

In [ ]:
recipes.groupby(recipes['submitted'].dt.to_period("Y")).count()

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length,name_word_count
submitted,,,,,,,,,,
1999,275,275,275,275,275,164,150,203,150,275
2000,104,104,104,104,104,50,61,69,61,104
2001,589,589,589,589,589,360,507,417,507,589
2002,2644,2644,2644,2644,2644,1652,2406,1873,2406,2644
2003,2334,2334,2334,2334,2334,1481,2228,1646,2228,2334
2004,2153,2153,2153,2153,2153,1309,2142,1526,2142,2153
2005,3130,3130,3130,3130,3130,1995,3124,2196,3124,3130
2006,3473,3473,3473,3473,3473,2210,3469,2437,3469,3473
2007,4429,4429,4429,4429,4429,2752,4427,3090,4427,4429
2008,4029,4029,4029,4029,4029,2546,4027,2841,4027,4029
2009,2963,2963,2963,2963,2963,1821,2959,2081,2959,2963
2010,1538,1538,1538,1538,1538,961,1538,1086,1538,1538
2011,922,922,922,922,922,565,922,668,922,922
2012,659,659,659,659,659,422,659,447,659,659
2013,490,490,490,490,490,344,490,365,490,490
2014,139,139,139,139,139,93,139,89,139,139
2015,42,42,42,42,42,30,42,27,42,42
2016,24,24,24,24,24,16,24,16,24,24
2017,39,39,39,39,39,24,39,28,39,39
2018,24,24,24,24,24,15,24,15,24,24

5.1 При помощи объединения таблиц, создайте DataFrame, состоящий из четырех столбцов: id, name, user_id, rating. Рецепты без отзывов должны отсутствовать в данной таблице. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и выведя на экран строку из полученного DataFrame, содержащую информацию об этом отзыве.

In [ ]:
new_table = pd.merge(recipes[['id', 'name']], reviews[['user_id', 'rating', 'recipe_id']], left_on='id', right_on='recipe_id').drop('recipe_id', axis=1)
new_table

            id                                    name  user_id  rating
0        44123   George S At The Cove  Black Bean Soup   743566       5
1        44123   George S At The Cove  Black Bean Soup    76503       5
2        44123   George S At The Cove  Black Bean Soup    34206       5
3        67664      Healthy For Them  Yogurt Popsicles   494084       5
4        67664      Healthy For Them  Yogurt Popsicles   303445       5
...        ...                                     ...      ...     ...
126691  486161                             Zydeco Soup   305531       5
126692  486161                             Zydeco Soup  1271506       5
126693  486161                             Zydeco Soup   724631       5
126694  486161                             Zydeco Soup   133174       5
126695  298512  Cookies By Design   Cookies On A Stick   804234       1

[126696 rows x 4 columns]

In [ ]:
new_table[new_table['rating'].isna()]

Empty DataFrame
Columns: [id, name, user_id, rating]
Index: []

5.2 При помощи объединения таблиц и группировок, создайте DataFrame, состоящий из трех столбцов: recipe_id, name, review_count. У рецептов, для которых отсутствуют отзывы, в соответствущем столбце должен быть указан 0. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и выведя на экран строку из полученного DataFrame, содержащую информацию об этом отзыве.

In [ ]:
table = pd.merge(recipes[['name', 'id']], reviews['recipe_id'], left_on='id', right_on='recipe_id', how='left')
table

                                          name      id  recipe_id
0        George S At The Cove  Black Bean Soup   44123    44123.0
1        George S At The Cove  Black Bean Soup   44123    44123.0
2        George S At The Cove  Black Bean Soup   44123    44123.0
3           Healthy For Them  Yogurt Popsicles   67664    67664.0
4           Healthy For Them  Yogurt Popsicles   67664    67664.0
...                                        ...     ...        ...
128591                             Zydeco Soup  486161   486161.0
128592                             Zydeco Soup  486161   486161.0
128593                             Zydeco Soup  486161   486161.0
128594                             Zydeco Soup  486161   486161.0
128595  Cookies By Design   Cookies On A Stick  298512   298512.0

[128596 rows x 3 columns]

In [ ]:
my_table = pd.merge(reviews.groupby('recipe_id').count()['date'], table, right_on='recipe_id', 
                    left_on='recipe_id', how='outer').drop('id', axis=1)
my_table = my_table.rename(columns={'date': 'review_count'}).drop_duplicates().reset_index(drop=True)
my_table

       recipe_id  review_count                                        name
0           48.0           2.0                            Boston Cream Pie
1           55.0           4.0  Betty Crocker S Southwestern Guacamole Dip
2           66.0          18.0                 Black Coffee Barbecue Sauce
3           91.0           4.0              Brown Rice And Vegetable Pilaf
4           94.0           4.0                       Blueberry Buttertarts
...          ...           ...                                         ...
29995        NaN           NaN                          Zingy Potato Salad
29996        NaN           NaN          Zucchini  Mock Green Papaya  Salad
29997        NaN           NaN               Zucchini And Corn With Cheese
29998        NaN           NaN                          Zucchini Nut Salad
29999        NaN           NaN        Zucchini With Bell Pepper And Tomato

[30000 rows x 3 columns]

In [ ]:
#Подтвердите правильность работы вашего кода, выбрав рецепт,
# не имеющий отзывов, и выведя на экран строку из полученного
# DataFrame, содержащую информацию об этом отзыве.
my_table['review_count'] = my_table['review_count'].fillna(0)
my_table[my_table['review_count'] == 0]

       recipe_id  review_count                                     name
28100        NaN           0.0            Pasta  With Shrimp   Eggplant
28101        NaN           0.0          Secret Ingredient  Bbq Meatloaf
28102        NaN           0.0        Windy S  Sweet And Sour Meatballs
28103        NaN           0.0  Goulashy  Beef Stew For The Slow Cooker
28104        NaN           0.0             Old Bay  Grilled Steak Fries
...          ...           ...                                      ...
29995        NaN           0.0                       Zingy Potato Salad
29996        NaN           0.0       Zucchini  Mock Green Papaya  Salad
29997        NaN           0.0            Zucchini And Corn With Cheese
29998        NaN           0.0                       Zucchini Nut Salad
29999        NaN           0.0     Zucchini With Bell Pepper And Tomato

[1900 rows x 3 columns]

In [ ]:
my_table

       recipe_id  review_count                                        name
0           48.0           2.0                            Boston Cream Pie
1           55.0           4.0  Betty Crocker S Southwestern Guacamole Dip
2           66.0          18.0                 Black Coffee Barbecue Sauce
3           91.0           4.0              Brown Rice And Vegetable Pilaf
4           94.0           4.0                       Blueberry Buttertarts
...          ...           ...                                         ...
29995        NaN           0.0                          Zingy Potato Salad
29996        NaN           0.0          Zucchini  Mock Green Papaya  Salad
29997        NaN           0.0               Zucchini And Corn With Cheese
29998        NaN           0.0                          Zucchini Nut Salad
29999        NaN           0.0        Zucchini With Bell Pepper And Tomato

[30000 rows x 3 columns]

6.1 Отсортируйте таблицу в порядке убывания величины столбца name_word_count и сохраните результаты выполнения заданий 3.1-3.3 в csv файл.

In [ ]:
sorted_recipes = recipes.sort_values(by='name_word_count',ascending=False)
sorted_recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length,name_word_count
26223,Subru Uncle S Whole Green Moong Dal I Ll Be Ma...,77188,95,6357,2003-11-21,NaN,my dad and mom quite enjoy this lentil curry. ...,15.0,343.0,15
28083,Tsr Version Of T G I Friday S Black Bean Soup...,102274,75,74652,2004-10-19,9.0,from www.topsecretrecipes.com i got this copyc...,16.0,436.0,14
26222,Subru Uncle S Toor Ki Dal Sindhi Style Dad M...,76908,65,6357,2003-11-18,29.0,this is the lentil curry that subru uncle(our ...,15.0,1087.0,14
27876,Top Secret Recipes Version Of I H O P Griddl...,113346,20,175727,2005-03-14,5.0,this recipe is top secret recipes version of i...,9.0,129.0,14
5734,Chicken Curry Or Cat S Vomit On A Bed Of Magg...,294898,30,802799,2008-03-28,11.0,an old family recipe that's easy to make since...,12.0,144.0,13
...,...,...,...,...,...,...,...,...,...,...
3253,Blackmoons,323195,430,415934,2008-09-04,5.0,my mom was a newlywed in the 1950s when she fo...,NaN,389.0,1
4138,Bushwhacker,156521,10,177392,2006-02-17,1.0,this drink is an excellent after dinner drink ...,6.0,124.0,1
2357,Basbousa,12957,60,18391,2001-10-20,NaN,this is a traditional middle eastern dessert. ...,NaN,78.0,1
15052,Josefinas,264859,20,498271,2007-11-11,7.0,"from the junior league of corpus christi tx, t...",NaN,92.0,1
4710,Caramels,143615,30,212088,2005-11-02,NaN,i've been making these at christmas time for y...,6.0,341.0,1

5.3. Выясните, отзывы, добавленные в каком году, имеют наименьший средний рейтинг?

In [ ]:
rating_sort = reviews.groupby(reviews['date'].dt.to_period("Y")).mean().sort_values(by='rating')
rating_sort

           user_id      recipe_id    rating
date
2017  1.645322e+09  206043.099111  3.353042
2000  3.587077e+03    4294.230769  3.384615
2018  1.688570e+09  213887.641356  3.504076
2016  1.450432e+09  205051.295992  3.912603
2015  1.275400e+09  215921.213628  4.047145
2014  5.495568e+08  239537.802903  4.110595
2001  1.525113e+04    9640.708197  4.134426
2013  1.199916e+08  257121.872689  4.274168
2011  8.312830e+05  227214.712983  4.302045
2012  1.009276e+06  229436.423298  4.341427
2010  6.778965e+05  201758.010088  4.454440
2002  3.345775e+04   24810.407779  4.481556
2008  4.217137e+05  157184.134737  4.484635
2009  5.818607e+05  182719.650634  4.524728
2003  5.638256e+04   43095.459912  4.526940
2004  8.823351e+04   58306.295069  4.546548
2007  2.968248e+05  124738.594921  4.547077
2005  1.305490e+05   76699.869869  4.563680
2006  1.868598e+05   99232.217383  4.603673

In [ ]:
print('Наименьший средний рейтинг в 2017 году')

Наименьший средний рейтинг в 2017 году

6.2 Воспользовавшись pd.ExcelWriter, cохраните результаты 5.1 и 5.2 в файл: на лист с названием Рецепты с оценками сохраните результаты выполнения 5.1; на лист с названием Количество отзывов по рецептам сохраните результаты выполнения 5.2.

In [ ]:
writer_obj = pd.ExcelWriter('Table_TOD_LAB2_END.xlsx')
new_table.to_excel(writer_obj, sheet_name='Рецепты с оценками')
my_table.to_excel(writer_obj, sheet_name='Количество отзывов по рецептам')

writer_obj.save()